@media (max-width:415px) {

  body {
    background: #000000;
    font-family: 'Lepka', sans-serif;
    overflow-x: hidden;
    justify-content: center;

  }

  .text {
    color: #D9FF00;
    font-weight: bold;
    font-size: 15vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    z-index: 2;

  }


  .container1 {
    display: flex;
    flex-direction: column;
    gap: 20vw;
    margin: 2vw;
    margin-left: 0vw;
    margin-top: 10vw;
    z-index: 2;

  }

  .rectangle {
    width: 100vw;
    height: 30vw;
    z-index: 2;

  }

  .container2 {
    display: flex;
    flex-direction: column;
    gap: 28vw;
    margin: 2vw;
    margin-left: 46vw;
    margin-top: -147vw;
    z-index: 2;

  }

  .circle {
    width: 13vw;
    height: 13vw;
    background-color: #000000;
    border-radius: 50%;
    z-index: 3;
    margin-top: 9vw;

  }

  .container3 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    display: flex;
    flex-direction: column;
    gap: 44vw;
    margin: 0vw;
    margin-left: 49.5vw;
    margin-top: -110vw;
    z-index: 3;
  }

  .text3 {
    color: #FEFF01;
    font-family: 'Lepka', sans-serif;

    font-size: 9vw;
    font-weight: normal;
    padding: 1vw;
    margin-top: 12vw;
    margin-left: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    z-index: 3;

  }

  .text4 {
    color: #fdfdfd;
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    font-weight: normal;
    padding: 1vw;
    margin-top: 21vw;
    margin-left: 37vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
   

  }

  .scratch-canvas {
display: none;
  }

  #SignUp img {
    position: absolute;
    margin-top: -63.5vw;
    margin-left: 36vw;
    transform: scale(3.1);
    z-index: 2;
    width: 30vw;
    height: 40vw;
  }

  #drawCanvas {
    position: absolute;
   
    margin-top: -57vw;
    margin-left: 40VW;
    background-color: transparent;
    z-index: 5;
 
    width: 50vw;
   
    height: 26vw;
  }

  #speakers {
    display: none;
  }

  #mobilemusic {
    position: absolute;
    transform: scale(1.2);

    margin-left: 12VW;

    display: FLEX;
  }

  .desktop-img {
    display: none;
  }

  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: -75vw;
    margin-left: 5vw;
    gap: 47vw;
    font-size: 3vw;
    font-family: "Roboto", sans-serif;
    color: #fdfdfd;
    flex-direction: column;
    z-index: 10;
    
  }

  .cake-scene {
    display: none;

  }

  .cake-mobile {
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 50vw;
    height: 40vw;
  margin-left: 32vw;    
  z-index: 5;
   
  }


  .textfinal-mobile  {
  display: flex;
  margin-left: 0vw;    
  margin-top: -10vw;   
  transform: scale(0.8);
 
  }
}