@media (max-width:415px) {

  body {
    background: #000000;
    font-family: 'Lepka', sans-serif;
    overflow-x: hidden;
    /* Hides horizontal scroll */
    justify-content: center;
    /* Center vertically */

  }

  .text {
    color: #D9FF00;
    font-weight: bold;
    font-size: 15vw;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: center;
    /* Center vertically */
    align-items: center;
    position: relative;
    white-space: nowrap;
    z-index: 2;
    /* Ensure this text stays above the confetti */
  }


  .container1 {
    display: flex;
    /* Use flexbox to arrange rectangles horizontally */
    flex-direction: column;
    /* Align rectangles in a row */
    gap: 20vw;
    /* Add 1vw space between rectangles */
    margin: 2vw;
    margin-left: 0vw;
    margin-top: 10vw;
    z-index: 2;
    /* Ensure this text stays above the confetti */

  }

  .rectangle {
    width: 100vw;
    /* Set width of each rectangle */
    height: 30vw;
    /* Set height of each rectangle */
    z-index: 2;
    /* Ensure this text stays above the confetti */
  }

  .container2 {
    display: flex;
    /* Use flexbox to arrange circles horizontally */
    flex-direction: column;
    /* Align circles in a row */
    gap: 28vw;
    /* Add 2vw space between circles */
    margin: 2vw;
    margin-left: 46vw;
    margin-top: -147vw;
    z-index: 2;
    /* Ensure this text stays above the confetti */

  }

  .circle {
    width: 13vw;
    /* Set width of the circle */
    height: 13vw;
    /* Set height of the circle (must be equal to width) */
    background-color: #000000;
    /* Red color */
    border-radius: 50%;
    /* Make it a circle */
    z-index: 3;
    /* Bring it above other elements */
    margin-top: 9vw;

  }

  .container3 {
    position: absolute;
    width: 6vw;
    /* Set width of the circle */
    height: 6vw;
    /* Set height of the circle (must be equal to width) */

    display: flex;
    /* Use flexbox to arrange circles horizontally */
    flex-direction: column;
    /* Align circles in a row */
    gap: 44vw;
    /* Add 2vw space between circles */
    margin: 0vw;
    margin-left: 49.5vw;
    margin-top: -110vw;
    z-index: 3;
    /* Bring it above other elements */
  }

  .text3 {
    color: #FEFF01;
    font-family: 'Lepka', sans-serif;

    font-size: 9vw;
    font-weight: normal;
    padding: 1vw;
    margin-top: 12vw;
    margin-left: 42vw;
    display: flex;
    /* Enable flexbox for centering */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center horizontally */
    position: absolute;
    white-space: nowrap;
    text-align: center;
    /* Center text within each span */
    z-index: 3;
    /* Bring it above other elements */
  }

  .text4 {
    color: #fdfdfd;
    font-family: "Roboto", sans-serif;
    /* Use the Roboto font */
    font-size: 3vw;
    font-weight: normal;
    padding: 1vw;
    margin-top: 21vw;
    margin-left: 37vw;
    display: flex;
    /* Enable flexbox for centering */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center horizontally */
    position: absolute;
    white-space: nowrap;
    text-align: center;
    /* Center text within each span */
    z-index: 3;
    /* Bring it above other elements */

  }

  .scratch-canvas {
display: none;
  }

  #SignUp img {
    position: absolute;
    margin-top: -63.5vw;
    margin-left: 36vw;
    transform: scale(3.1);
    /* Scales image by 20% */
    z-index: 2;
    /* Bring it above other elements */
    width: 30vw;
    height: 40vw;
  }

  #drawCanvas {
    position: absolute;
    /* Ensure the custom cursor is positioned correctly */
    margin-top: -57vw;
    margin-left: 40VW;
    background-color: transparent;
    z-index: 5;
    /* Bring it above other elements */
    width: 50vw;
    /* Adjust these values as needed */
    height: 26vw;
  }

  #speakers {
    display: none;
  }

  #mobilemusic {
    position: absolute;
    transform: scale(1.2);

    margin-left: 12VW;

    display: FLEX;
  }

  .desktop-img {
    display: none;
  }

  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: -75vw;
    margin-left: 5vw;
    gap: 47vw;
    font-size: 3vw;
    font-family: "Roboto", sans-serif;
    color: #fdfdfd;
    flex-direction: column;
    z-index: 10;
    /* Bring it above other elements */
  }

  .cake-scene {
    display: none;

  }

  .cake-mobile {
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 50vw;
    height: 40vw;
  margin-left: 32vw;    
  z-index: 5;
    /* Above the cake image */
  }
}